/* Header styling */
.Header {
    background-color: #fff;
    height: 72px;
}

.Header_image {
    margin-left: 77px;
    margin-top: 17px;
    margin-bottom: 8px;
    margin-right: 300px;
    width: 200px;
    height: 57px;
}

.Header_container {
    display: flex;
}

.Header_nav {
    list-style: none;
    display: flex;
    margin-top: 27px;
}

.Header_link {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.border_right {
    border-left: solid 2px #000;
    height: 25px;
}

.push_right {
    margin-right: 27px;
}

.Header_link_sign {
    text-transform: uppercase;
    color: #fff;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #EE0D09;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.Header_item {
    margin-left: 37px;
}

.Header_above {
    display: flex;
    color: #fff;
    font-size: medium;
    font-family: "Lato", sans-serif;
}

.Header_above_left {
    background-color: #EE0D09;
    padding-top: 14px;
    padding-left: 37px;
    padding-bottom: 14px;
    padding-right: 37px;
}

.Header_above_right {
    background-color: #07194A;
    padding-top: 14px;
    padding-left: 37px;
    padding-bottom: 14px;
    padding-right: 37px;
    display: flex;
}

.Header_above_right_week_time {
    margin-right: 525px;
}