/* Service styling */
/* Services_header styling */
.Services_header {
    background-image: url('../image/Services_header_image.png');
    margin-top: 49px;
    padding-bottom: 70px;
    background-size: cover;
    padding-top: 82px;
    padding-left: 312px;
}

.Services_header_heading_title {
    font-family: "Lato", sans-serif;
    color: #E8E8E9;
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.Services_header_heading_lighter_text_container {
    display: flex;
}

.Services_header_heading_lighter_text_Home {
    font-family: "Lato", sans-serif;
    color: #ff0000;
    font-size: 14px;
    margin-right: 10px;
}

.Services_header_heading_lighter_icon {
    margin-right: 10px;
    margin-top: 2px;
    color: #FFFFFF;
}

.Services_header_heading_lighter_text_Services {
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}

/* Services_services styling */
.Services_services {
    background-image: url('../image/Services_services_image.png');
    padding-top: 117px;
    width: 1060px;
    height: 348px;
    background-size: cover;
    padding-left: 235px;
    padding-bottom: 240px;
}

.Services_services_heading_title_container {
    display: flex;
    margin-bottom: 12px;
}

.Services_services_heading_title {
    font-family: "Lato", sans-serif;
    font-size: 27px;
    color: #05175B;
    font-weight: bolder;
}

.Services_services_heading_line {
    color: #EE0D09;
    margin-left: 17px;
    font-size: 27px;
    font-weight: bolder;
}

.Services_services_heading_paragraph {
    font-family: "Lato", sans-serif;
    color: #8F8F90;
    font-size: 15px;
    line-height: 18px;
    margin-top: 22px;
    margin-bottom: 2px;
}

.Services_services_above_boxes,
.Services_services_bottom_boxes {
    display: flex;
}

.Services_services_box {
    margin-right: 27px;
    border-bottom: 4px solid #ff0000;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
    background-color: #fff;
    width: 230px;
    height: 130px;
    margin-top: 32px;
    padding-top: 7px;
    padding-left: 17px;
    box-shadow: 0 10px 18px -9px black;
}

.Services_services_boxes_small_title {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #05175B;
    font-size: 9px;
}

.Services_services_boxes_title {
    font-family: "Lato", sans-serif;
    color: #05175B;
    font-size: 17px;
    margin-bottom: 27px;
}

.Services_services_boxes_read_more_link {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #EE0D09;
    font-size: 12px;
    margin-right: 87px;
}

/* Services_chooseUs_aditional_services styling */
.Services_chooseUs_aditional_services {
    background-color: #fff;
    display: flex;
    width: 1037px;
    padding-top: 140px;
    padding-left: 200px;
    height: 300px;
}

.Services_chooseUs_aditional_services_choose_us_title_container {
    display: flex;
    margin-bottom: 22px;
}

.Services_chooseUs_aditional_services_choose_us_title {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #05175B;
    font-weight: bolder;
}

.Services_chooseUs_aditional_services_choose_us_title_line {
    color: #EE0D09;
    margin-left: 17px;
    font-size: 22px;
    font-weight: bolder;
}

.Services_chooseUs_aditional_services_choose_us_paragraph {
    font-family: "Lato", sans-serif;
    color: #828282;
    font-size: 15px;
    line-height: 18px;
    margin-top: 22px;
    margin-bottom: 27px;
}

.Services_chooseUs_aditional_services_choose_us_menu_list {
    list-style: none;
}

.Services_chooseUs_aditional_services_choose_us_menu_container {
    display: flex;
    margin-top: 12px;
}

.Services_chooseUs_aditional_services_choose_us_menu_image {
    margin-right: 27px;
}

.Services_chooseUs_aditional_services_choose_us_menu {
    margin-top: 15px;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #05175B;
    font-size: 17px;
    font-weight: bolder;
}

.Services_chooseUs_aditional_services_choose_us_menu_line {
    background-color: lightgray;
    border: none;
    margin-left: 7px;
    margin-top: 3px;
    height: 1px;
    font-size: 22px;
    font-weight: bolder;
}

.Services_chooseUs_aditional_services_aditional_services {
    margin-left: 52px;
}

.Services_chooseUs_aditional_services_aditional_services_title_container {
    display: flex;
    margin-bottom: 22px;
}

.Services_chooseUs_aditional_services_aditional_services_title {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #05175B;
    font-weight: bolder;
}

.Services_chooseUs_aditional_services_aditional_services_title_line {
    color: #EE0D09;
    margin-left: 17px;
    font-size: 22px;
    font-weight: bolder;
}

.Services_chooseUs_aditional_services_aditional_services_imageANDmenu {
    display: flex;
}

.Services_chooseUs_aditional_services_aditional_services_imageANDmenu_menu_container {
    display: flex;
    list-style: none;
}

.Services_chooseUs_aditional_services_aditional_services_imageANDmenu_menu {
    margin-bottom: 8px;
    font-family: "Lato" , sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    color: #000000;
}

.Services_chooseUs_aditional_services_aditional_services_imageANDmenu_menu_image {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 6.5px;
}

.Services_chooseUs_aditional_services_aditional_services_imageANDmenu_image {
    height: 348px;
    margin-right: 23px;
    margin-left: 3px;
}

/* Services_Mechanical_work styling */
.Services_Mechanical_work {
    background-image: url('../image/Mechanical_work_image.png');
    margin-top: 170px;
    padding-bottom: 70px;
    background-size: cover;
    padding-top: 82px;
    padding-left: 312px;
}

.Services_Mechanical_work_heading {
    display: flex;
    margin-bottom: 8px;
}

.Services_Mechanical_work_heading_title {
    font-family: "Lato", sans-serif;
    color: #E8E8E9;
}

.Services_Mechanical_work_heading_hr {
    color: #EE0D09;
    margin-left: 7px;
    font-size: large;
}

.Services_Mechanical_work_title_container {
    line-height: 37px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 20px;
}

.Services_Mechanical_work_About_container {
    display: flex;
}

.Services_Mechanical_work_About_icon {
    background-color: #EE0D09;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    border: 1px solid #EE0D09;
    margin-right: 10px;
    padding: 7px 7px 7px 7px;
    border-radius: 57%;
    text-align: center;
    width: 136px;
    height: 136px;
}

.Services_Mechanical_work_About_text {
    line-height: 21px;
    margin-left: 3px;
}

.Services_Mechanical_work_About_text p {
    text-transform: uppercase;
    color: #BEBDBE;
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

/* Services_contact_us styling */
.Services_contact_us {
    background-color: #ff0000;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 77px;
    padding-top: 27px;
    padding-left: 27px;
    height: 5px;
    display: flex;
}

.Services_contact_us_heading {
   margin-right: 37px;
}

.Services_Mechanical_work_heading_bolder_title {
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 26px;
}

.Services_Mechanical_work_heading_lighter_title {
    line-height: 37px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}

.Services_contact_us_phone_number {
    font-weight: bolder;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    margin-top: 12px;
    margin-right: 42px;
}

.Services_contact_us_button {
    background-color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.Services_contact_us_button_text {
    margin-right: 10px;
}

.Services_contact_us_button_icon {
    margin-top: 3px;
}